@charset "UTF-8";
/* Variables */
:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --submenu-hover: #fbded7;
  --submenu-active: #f6b5a5;
  --submenu-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  --item-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);
  --form-background: #f8f7f4;
  --basic-gray: rgba(50, 50, 50, 0.2);
  --opacity-gray: rgba(255, 255, 255, 0.8);
  --filter-disabled: rgba(255, 255, 255, 0.4);
  --light-gray: rgba(255, 255, 255, 0.2);
  --social-bg: #e6ebe9;
  --social-gray: #c2cec7;
  --input-border-color: #d3d3d2;
  --input-hover-border: #d7d7d7;
  --input-focus-border: #92c1f1;
  --placeholder-color: #999999;
  --subscribe-text: #5a5a5a;
  --header-link-active-bgc: #ededed;
  --header-link--active: #d07058;
  --header-link-active-shadow: inset 0px 2px 1px #696969;
  --special-slide-1: #849d8f;
  --special-slide-2: #8996a6;
  --special-slide-3: #9d8b84;
  --btn-text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  --btn-gradient: linear-gradient(180deg, #f26843 0%, #e74a35 100%);
  --btn-gradient-hover: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
    linear-gradient(180deg, #f26843 0%, #e74a35 100%);
  --btn-gradient-active: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)),
    linear-gradient(180deg, #f26843 0%, #e74a35 100%);
  --btn-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  --btn-shadow-active: inset 0px 2px 2px #942718;
  --text-link-hover: #ffbc9e;
  --text-link-black: #323232;
  --text-link-black-hover: #e84d37;
  --text-link-black-decor-hover: rgba(232, 77, 55, 0.3);
  --vaffle-color: #efe3cd;
  --ice-item-price-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
  --cart-gray: #ababab;
  --cart-line: #cacac7;
  --cart-full: #e84d37;
  --popup-overlay: rgba(0, 0, 0, 0.3);
  --select-icon: rgba(236, 241, 238, 1);
  --slider-line: rgba(248, 247, 244, 0.5);
  --slider-conect-line: rgba(248, 247, 244, 1);
  --slider-toggle-dot: rgba(171, 171, 171, 1);
}

/* шрифты */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), url("../fonts/roboto.woff2") format("woff2"), url("../fonts/roboto.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto medium"), url("../fonts/robotomedium.woff2") format("woff2"), url("../fonts/robotomedium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  src: local("Roboto bold"), url("../fonts/robotobold.woff2") format("woff2"), url("../fonts/robotobold.woff") format("woff");
  font-display: swap;
}

/* global */
body {
  min-width: 1200px;
  margin: 0 auto;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-white);
  background-color: var(--special-slide-1);
}

img {
  max-width: 100%;
  height: auto;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  padding: 0 27px;
  margin: 0 auto;
  height: 100%;
}

.promo {
  font-family: "Roboto", Arial, sans-serif;
  position: relative;
  z-index: 1;
}

/* ui */
.main-input {
  box-sizing: border-box;
  border-radius: 4px;
  height: 44px;
  border: 1px solid var(--input-border-color);
  padding-left: 15px;
  width: 100%;
  color: var(--text-link-black);
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

.main-input::placeholder {
  color: var(--placeholder-color);
  font-weight: normal;
}

.main-input:hover {
  box-shadow: var(--input-hover-shadow);
  padding-left: 14px;
  border: 2px solid var(--input-hover-border);
}

.main-input:focus {
  outline: none;
  border: 2px solid var(--input-focus-border);
  padding-left: 14px;
}

.main-btn {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  outline: 0;
  background-image: var(--btn-gradient);
  text-decoration: none;
  color: var(--basic-white);
  font-weight: bold;
  box-shadow: var(--btn-shadow);
  text-shadow: var(--btn-text-shadow);
}

.main-btn:hover {
  background-image: var(--btn-gradient-hover);
}

.main-btn:active {
  box-shadow: var(--btn-shadow-active);
  background-image: var(--btn-gradient-active);
}

.text-link {
  font-weight: 400;
  color: var(--basic-white);
  text-decoration-color: var(--light-gray);
}

.text-link:hover,
.text-link:active {
  color: var(--text-link-hover);
  text-decoration-color: var(--text-link-hover);
}

.text-link--black {
  color: var(--text-link-black);
  text-decoration-color: rgba(50, 50, 50, 0.3);
}

.text-link--black:hover,
.text-link--black:active {
  color: var(--text-link-black-hover);
  text-decoration-color: var(--text-link-black-decor-hover);
}

.visually-hidden {
  display: none;
}

/* header */
.header {
  font-family: "Roboto", Arial, sans-serif;
  background-color: transparent;
  color: var(--basic-white);
}

.header ul {
  list-style: none;
}

.header__nav {
  padding-top: 9px;
  flex: 1 1 100%;
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 24px;
}

.header__menu {
  display: flex;
  flex: 1 1 auto;
  margin: 0;
  padding: 0;
}

.header__menu-list {
  margin-right: 32px;
  position: relative;
}

.header__menu-list--nopsevdo::before {
  display: none;
}

.header__menu-list:last-child {
  margin: 0;
}

.header__menu-list::before {
  content: "";
  bottom: -5px;
  position: absolute;
  left: 0;
  right: 0;
  height: 10px;
}

.header__link {
  box-sizing: border-box;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  height: 32px;
  fill: var(--basic-white);
  color: var(--basic-white);
  display: block;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 26px;
  position: relative;
  z-index: 5;
}

.header__link::after {
  width: 100%;
  display: block;
  height: 1px;
  content: "";
  background-color: rgba(255, 255, 255, 0.3);
}

.header__link:active {
  background: var(--header-link-active-bgc);
  box-shadow: var(--header-link-active-shadow);
}

.header__link--active {
  fill: var(--basic-white);
  color: var(--basic-white);
  background-color: var(--header-link--active);
}

.header__link--active:after {
  display: none;
}

.header__submenu {
  display: none;
  position: absolute;
  top: 37px;
  left: auto;
  right: 0;
  color: var(--basic-black);
  background-color: var(--basic-white);
  box-shadow: var(--submenu-shadow);
  padding: 0;
  margin: 0;
  border-radius: 4px;
  box-shadow: var(--submenu-shadow);
  padding: 9px 0 14px 0;
}

.header__menu > .header__menu-list:hover .header__link:not(.header__link--active),
.header-actions > .header-actions__list:hover .header-actions__link {
  fill: var(--basic-black);
  color: var(--basic-black);
  text-decoration: none;
  background-color: var(--basic-white);
  border: 0;
}

.header__menu > .header__menu-list:hover .header__submenu {
  display: block;
  z-index: 10;
}

.header-actions > .header-actions__list:hover .header__submenu {
  display: block;
  z-index: 10;
}

.submenu-catalog {
  min-width: 143px;
  padding: 7px 0 6px 0;
  left: 0;
}

.submenu-catalog__list {
  padding: 0 21px 0 20px;
}

.submenu-catalog__list:hover {
  background: var(--submenu-hover);
}

.submenu-catalog__list:active {
  background: var(--submenu-active);
}

.submenu-catalog__list--current {
  background: var(--header-link--active);
  color: var(--basic-white);
}

.submenu-catalog__list--title {
  padding: 0px 9px;
  margin-bottom: 11px;
}

.submenu-catalog__list--title:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: var(--basic-gray);
  position: relative;
}

.submenu-catalog__head-text {
  text-decoration: none;
  color: var(--basic-black);
  font-weight: bold;
  line-height: 38px;
  margin-left: 11px;
}

.submenu-catalog__link {
  line-height: 22px;
  text-decoration: none;
  color: var(--basic-black);
  line-height: 27px;
}

.submenu-catalog__link:hover {
  background-color: var(--submenu-hover);
}

.submenu-catalog__link:active {
  background-color: var(--submenu-active);
}

.header-actions {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.header-actions__list {
  position: relative;
  margin-right: 10px;
}

.header-actions__list:last-child {
  margin-right: 0;
}

.header-actions__list::before {
  content: "";
  bottom: -5px;
  position: absolute;
  left: 0;
  right: 0;
  height: 10px;
}

.header-actions__link {
  cursor: pointer;
  background-color: var(--light-gray);
  text-decoration: none;
  border: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-actions__link::after {
  display: none;
}

.header-actions__link:active {
  box-shadow: none;
}

.header-actions__link--search {
  padding: 0;
  height: 32px;
  width: 32px;
}

.header-actions__link--login svg {
  margin-right: 8px;
}

.header-actions__link--cart {
  fill: var(--basic-white);
}

.header-actions__link--cart .svg-full-cart {
  display: none;
}

.header-actions__link--cart:hover {
  fill: var(--basic-black);
}

.header-actions__link--cart svg {
  margin-right: 8px;
}

.header-actions__link--cart-full {
  background: var(--basic-white);
  color: var(--basic-black);
  fill: var(--basic-black);
}

.header-actions__link--cart-full .svg-full-cart {
  display: inline-block;
}

.header__contact {
  text-align: right;
}

.header__contact-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  margin: 0 0 8px;
}

.header__contact-tel {
  color: var(--basic-white);
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
}

.cart {
  font-family: "Roboto", Arial, sans-serif;
  width: 539px;
  min-height: 242px;
  z-index: 10;
  padding: 20px 14px 21px 15px;
}

.cart__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cart-item {
  padding-left: 6px;
  display: flex;
  align-items: center;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  position: relative;
}

.cart-item:last-child {
  padding-bottom: 18px;
}

.cart-item:last-child::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: var(--cart-line);
}

.cart-item__remove-btn {
  cursor: pointer;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: transparent;
  margin-right: 9px;
}

.cart-item__img {
  margin-right: 13px;
}

.cart-item__name {
  margin: 0;
  padding: 0;
  flex: 0 1 216px;
  margin-right: 31px;
}

.cart-item__cost {
  margin-right: 28px;
}

.cart-item__cost span {
  color: var(--cart-gray);
}

.cart__sum-text {
  display: block;
  margin-left: auto;
  font-weight: bold;
  font-size: 15px;
  line-height: 16px;
  text-align: right;
}

.cart__btn-order {
  font-weight: bold;
  font-size: 18px;
  line-height: 16px;
  padding: 13px 15px;
  border-radius: 26px;
  text-shadow: none;
  margin-left: auto;
}

.slider-wrapper {
  height: 584px;
  position: relative;
  top: -24px;
  z-index: -1;
}

.slider {
  display: inline-block;
  padding: 0;
  margin: 0 auto;
  width: 716px;
  list-style: none;
  display: flex;
  position: relative;
}

.slider-item {
  position: absolute;
  height: 716px;
}

.slider-item__images {
  width: 100%;
  height: 100%;
  position: absolute;
}

.slider-item__img-left {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}

.slider-item__img-right {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.slider-item__title {
  text-align: center;
  display: inline-block;
  max-width: 670px;
  font-weight: bold;
  font-size: 60px;
  line-height: 60px;
  margin: 0;
  position: relative;
  z-index: 3;
  margin-top: 315px;
  margin-bottom: 27px;
}

.slider-item__btn {
  width: 278px;
  height: 63px;
  border-radius: 70px;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  margin: 0 auto;
  position: relative;
  z-index: 3;
}

.slider__dots {
  position: absolute;
  bottom: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.slider__dots li {
  margin-right: 8px;
}

.slider__dots li:last-child {
  margin-right: 0;
}

.slider__dot {
  margin: 0;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border-radius: 50%;
  font-size: 0;
  display: inline-block;
  border: 2px solid var(--basic-white);
  outline: 0;
  width: 21px;
  height: 21px;
}

.slider__dot--current {
  background-color: var(--basic-white);
}

.promotion {
  font-family: "Roboto", Arial, sans-serif;
  margin-bottom: 40px;
}

.promotion__banners {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 26px;
}

.banners-item {
  border-radius: 16px;
  overflow: hidden;
  width: 560px;
  height: 229px;
  color: var(--basic-white);
  padding: 16px 22px 22px 16px;
}

.banners-item--rasberry {
  background: var(--basic-black) url("../img/rasberry-bg.jpg") center no-repeat;
  background-size: cover;
}

.banners-item--chocolate {
  background: var(--basic-black) url("../img/chocolate-bg.jpg") center no-repeat;
  background-size: cover;
}

.banners-item__title {
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
  margin: 0 0 16px;
}

.banners-item__text {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  margin: 0 0 42px;
}

.banners-item__btn {
  padding-left: 22px;
  padding-right: 22px;
  width: max-content;
  height: 48px;
  border-radius: 70px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  margin-left: auto;
}

.news {
  font-family: "Roboto", Arial, sans-serif;
  margin-bottom: 40px;
}

.news__banners {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 26px;
}

.news__banners-item {
  border-radius: 16px;
  overflow: hidden;
  width: 560px;
  height: 229px;
  padding: 16px 22px 22px 16px;
  background: var(--basic-white);
  color: var(--basic-black);
}

.blog-banner {
  background: var(--basic-white) url("../img/strawberry-bg.png") center no-repeat;
  background-size: cover;
}

.blog-banner__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: var(--text-link-black);
  margin: 0 0 12px;
}

.blog-banner__blog-link {
  display: inline-block;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  max-width: 287px;
  color: var(--text-link-black);
  margin: 0;
}

.contacts {
  font-family: "Roboto", Arial, sans-serif;
  position: relative;
  z-index: 2;
  min-height: 430px;
  width: 100%;
}

.contacts__container {
  padding-top: 61px;
  padding-bottom: 61px;
}

.contacts__text-block {
  margin-left: auto;
  margin-right: 27px;
  padding: 28px 25px;
  border-radius: 16px;
  color: var(--basic-black);
  background: var(--basic-white);
  width: 303px;
  min-height: 306px;
  position: relative;
  z-index: 3;
}

.contacts__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  margin: 0 0 4px;
}

.contacts__text--bold {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  margin: 0 0 24px;
}

.contacts__tel-link {
  display: inline-block;
  color: var(--basic-black);
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  margin: 0 0 4px;
}

.contacts__btn {
  height: 43px;
  border-radius: 70px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  margin: 21px 0 0;
}

.contacts__map-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.contacts__map-img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.contacts-popup {
  font-family: "Roboto", Arial, sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--popup-overlay);
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.7s ease 0s;
}

.contacts-popup.open-popup {
  opacity: 1;
  visibility: visible;
  z-index: 20;
}

.contacts-popup__body {
  padding: 20px 25px 25px 24px;
  position: relative;
  width: 477px;
  height: 441px;
  background: var(--form-background);
  border-radius: 6px;
}

.contacts-popup__close {
  display: inline-block;
  position: absolute;
  top: 15px;
  right: 16px;
  width: 18px;
  height: 18px;
  background: transparent;
  overflow: hidden;
}

.contacts-popup__close:after {
  transition: all 0.7s ease 0s;
  position: absolute;
  left: -3px;
  bottom: 8px;
  content: "";
  width: 24px;
  height: 2px;
  background-color: var(--basic-black);
  transform: rotate(45deg);
}

.contacts-popup__close:before {
  transition: all 0.7s ease 0s;
  position: absolute;
  left: -3px;
  bottom: 8px;
  content: "";
  width: 24px;
  height: 2px;
  background-color: var(--basic-black);
  transform: rotate(-45deg);
}

.contacts-popup__close:hover::after {
  transform: scale(0.8) rotate(315deg);
}

.contacts-popup__close:hover::before {
  transform: scale(0.8) rotate(405deg);
}

.contacts-popup__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: var(--text-link-black);
  margin: 0 0 22px;
}

.contacts-popup__input {
  margin-bottom: 20px;
}

.contacts-popup__textarea {
  resize: none;
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  height: 154px;
  width: 100%;
  margin-bottom: 23px;
  padding-top: 16px;
  padding-left: 14px;
  color: var(--placeholder-color);
}

.contacts-popup__textarea::placeholder {
  color: var(--placeholder-color);
}

.contacts-popup__submit {
  padding: 14px 24px;
  height: 44px;
  border-radius: 70px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  margin-left: auto;
}

.catalog-pagination {
  list-style: none;
  display: flex;
}

.catalog-pagination__list {
  margin-right: 6px;
}

.catalog-pagination__list:last-child {
  margin-right: 0;
}

.catalog-pagination__link {
  cursor: default;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  border-radius: 50%;
}

.catalog-pagination__link:hover:not(.catalog-pagination__link--not-active):not(.catalog-pagination__link--active) {
  background: var(--light-gray);
  cursor: pointer;
}

.catalog-pagination__link:active:not(.catalog-pagination__link--not-active):not(.catalog-pagination__link--active) {
  background: var(--basic-white);
  color: var(--basic-black);
  fill: var(--basic-black);
}

.catalog-pagination__arrow {
  fill: var(--basic-white);
  font-size: 0;
}

.catalog-pagination__arrow--prev {
  transform: rotate(180deg);
}

.catalog-pagination__link--active {
  background: var(--basic-white);
  color: var(--basic-black);
}

.catalog-pagination__link--not-active {
  fill: var(--light-gray);
}

.feautures {
  font-family: "Roboto", Arial, sans-serif;
  margin-bottom: 40px;
}

.feautures__content {
  background: var(--vaffle-color) url("../img/vafflepattern.jpg");
  color: var(--basic-black);
  padding: 24px 23px 36px 20px;
  border-radius: 16px;
  overflow: hidden;
}

.feautures__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  margin: 0 0 7px;
}

.feautures-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 26px;
  row-gap: 19px;
}

.feautures-list__text {
  padding-top: 11px;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  padding-left: 55px;
  position: relative;
}

.feautures-list__text::before {
  content: "";
  display: inline-block;
  width: 49px;
  height: 49px;
  border-radius: 50%;
  border: 2px solid var(--basic-black);
  position: absolute;
  top: 0;
  left: 0;
}

.feautures-list__text--tech::before {
  background: url("../img/ice-cream.svg") center no-repeat;
}

.feautures-list__text--milk::before {
  background: url("../img/leave.svg") center no-repeat;
}

.feautures-list__text--supl::before {
  background: url("../img/thecow.svg") center no-repeat;
}

.feautures-list__text--temp::before {
  background: url("../img/thermometer.svg") center no-repeat;
}

.subscribe-banner {
  background: var(--basic-white) url("../img/post-bg.png");
  background-size: cover;
  padding: 5px;
}

.subscribe-banner__form {
  padding: 22px 22px 22px 16px;
  border-radius: 12px;
  width: 100%;
  height: 100%;
  background-color: var(--form-background);
}

.subscribe-banner__text {
  margin: 0 0 47px;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: var(--subscribe-text);
}

.subscribe-banner__input {
  display: inline-block;
  width: 368px;
  margin-right: 10px;
}

.subscribe-banner__btn {
  display: inline-block;
  width: 130px;
  height: 44px;
  border-radius: 70px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.top-goods {
  margin-bottom: 40px;
}

.top-goods__ice-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.ice-item {
  position: relative;
  padding: 216px 13px 0 13px;
  width: 293px;
}

.ice-item:hover .ice-item__hover-wrapper {
  display: flex;
  opacity: 1;
  visibility: visible;
}

.ice-item:hover .ice-item__btn-view {
  opacity: 1;
  visibility: visible;
  transform: scale3d(1, 1, 1);
}

.ice-item:hover.ice-item--hit::after {
  transform: rotate(360deg);
}

.ice-item--hit {
  position: relative;
}

.ice-item--hit:after {
  transition: all 0.5s ease 0s;
  position: absolute;
  z-index: 1;
  top: 6px;
  left: 13px;
  content: "";
  width: 61px;
  height: 61px;
  border-radius: 50%;
  background: var(--basic-white) url("../img/hit-sale-logo.svg") center no-repeat;
}

.ice-item__img {
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  top: 6px;
  left: 13px;
}

.ice-item__price {
  font-weight: bold;
  font-size: 45px;
  line-height: 45px;
  margin: 0 0 33px;
  height: 45px;
  text-shadow: var(--ice-item-price-shadow);
  position: relative;
  z-index: 11;
}

.ice-item__price-text {
  display: inline-block;
  font-size: 30px;
  line-height: 35px;
  margin: 0 0 33px;
}

.ice-item__description-link {
  width: 100%;
  margin: 0;
  display: inline-block;
  position: relative;
  z-index: 11;
}

.ice-item__description-text {
  text-align: center;
  margin: 0;
}

.ice-item__hover-wrapper {
  transition: all 0.5s ease 0s;
  position: absolute;
  top: 0;
  bottom: -76px;
  left: 0;
  right: 0;
  width: 100%;
  background: var(--light-gray);
  border-radius: 4px;
  box-shadow: var(--item-shadow);
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.ice-item__btn-view {
  transition: all 0.5s ease 0s;
  opacity: 0;
  visibility: hidden;
  width: 200px;
  height: 44px;
  border-radius: 50px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 21px;
  transform: scale3d(0, 0, 1);
}

.login-form {
  background-color: var(--form-background);
  padding: 20px 17px 22px 19px;
  width: 277px;
  min-height: 214px;
}

.login-form__input--email {
  margin-bottom: 20px;
}

.login-form__input--pass {
  margin-bottom: 20px;
}

.login-form__footer {
  display: flex;
}

.login-form__btn {
  width: 103px;
  flex: 0 0 103px;
  height: 44px;
  border-radius: 26px;
  font-size: 18px;
  line-height: 16px;
  margin-right: 19px;
}

.login-form__help {
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
}

.login-form__forgot-password {
  display: block;
  margin-bottom: 9px;
}

.login-form__registration {
  display: block;
}

.search-form {
  background-color: var(--form-background);
  width: 341px;
  height: 84px;
  padding: 20px 15px;
}

.search-form__input {
  width: 100%;
}

.catalog {
  font-family: "Roboto", Arial, sans-serif;
}

.catalog__container {
  position: relative;
  padding-bottom: 30px;
}

.catalog__container:after {
  position: absolute;
  bottom: 0;
  content: "";
  display: block;
  width: 1146px;
  height: 1px;
  background: var(--light-gray);
}

.catalog__breadcrumbs-menu {
  list-style: none;
  display: flex;
  align-items: center;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: min-content;
}

.catalog__breadcrumbs-list {
  margin-right: 22px;
  position: relative;
}

.catalog__breadcrumbs-list:last-child {
  margin-right: 0;
}

.catalog__breadcrumbs-list:after {
  content: "";
  position: absolute;
  top: 6px;
  right: -13px;
  display: inline-block;
  width: 6px;
  height: 6px;
  background: url("../img/breadCrumbsArrow.svg") center no-repeat;
}

.catalog__breadcrumbs-link {
  color: var(--basic-white);
}

.catalog__breadcrumbs-link--active {
  text-decoration: none;
}

.catalog__title {
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
  margin: 0 0 29px;
}

.catalog__list {
  margin: 0 -13px 80px -13px;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 40px;
}

.catalog__pagination {
  margin: 0;
  padding: 0;
  width: 194px;
  margin-left: auto;
}

.footer {
  font-family: "Roboto", Arial, sans-serif;
  padding-top: 18px;
  padding-bottom: 26px;
}

.footer__container {
  display: flex;
  align-items: center;
  gap: 26px;
}

.footer__social {
  display: flex;
  list-style: none;
  flex: 0 1 25%;
  margin: 0;
  padding: 0;
  width: 152px;
  flex-wrap: wrap;
}

.footer__social-item {
  margin-right: 8px;
}

.footer__social-link {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid var(--social-gray);
  display: flex;
  align-items: center;
  justify-items: center;
  padding: 0;
  margin: 0;
  fill: var(--social-bg);
}

.footer__social-link:hover {
  fill: var(--basic-white);
}

.footer__social-link:active {
  opacity: 0.9;
}

.useful-links {
  margin: 0 auto;
  padding: 0;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  flex: 0 1 342px;
}

.useful-links__list {
  flex: 0 1 50%;
}

.useful-links__link {
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  position: relative;
}

.useful-links__link--heart {
  font-weight: bold;
}

.useful-links__link--heart:after {
  position: absolute;
  content: "";
  top: 3px;
  left: -22px;
  width: 15px;
  height: 13px;
  background: url("../img/heart.svg") center no-repeat;
}

.footer__academy {
  flex: 0 1 25%;
  margin-left: auto;
}

.academy-links {
  padding: 0 0 0 51px;
}

.academy-links__logo {
  display: inline-block;
  margin: 0 0 8px;
}

.academy-links__copy-text {
  margin: 0;
}

.filter {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 40px;
}

.filter__heading {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-white);
  margin: 0 0 7px 16px;
}

.filter__btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  border: 2px solid var(--basic-white);
  border-radius: 20px;
  background: var(--light-gray);
  width: 144px;
  height: 36px;
  align-self: flex-end;
  cursor: pointer;
}

.filter__btn:hover {
  color: var(--basic-black);
  background: var(--basic-white);
  border: none;
}

.filter__btn:focus {
  border: none;
  outline: none;
}

.filter__btn:active {
  box-shadow: var(--header-link-active-shadow);
  outline: none;
  border: none;
}

.select {
  position: relative;
  width: 196px;
  height: 36px;
  background: var(--light-gray);
  border-radius: 20px;
}

.select.is-active .select__body {
  display: block;
}

.select.is-active .select__icon {
  transform: translateY(-50%) rotate(180deg);
}

.select:hover .select__option {
  color: var(--basic-black);
}

.select:hover .select__icon {
  border-top-color: var(--basic-black);
}

.select__header {
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-self: center;
  padding-left: 16px;
  position: relative;
}

.select__option {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}

.select__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 13px;
  width: 11px;
  height: 10px;
  background: transparent;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-top: 10px solid var(--select-icon);
}

.select__body {
  position: absolute;
  z-index: 5;
  display: none;
  left: 0;
  right: 0;
  top: 100%;
  border: 1px solid var(--light-gray);
  border-top: 0;
  border-radius: 20px;
  background: var(--special-slide-1);
}

.select__item {
  padding-left: 16px;
  height: 36px;
  line-height: 36px;
  cursor: pointer;
  background: var(--light-gray);
}

.select__item:first-child {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.select__item:last-child {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.select__item:hover {
  background: var(--btn-gradient-hover);
}

.filter-radio {
  border-radius: 20px;
  background: var(--light-gray);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  min-height: 36px;
  padding: 0px 17px 0px 14px;
}

.catalog-filter-radio__input {
  display: none;
}

.catalog-filter-radio__input:checked + .catalog-filter-radio__label::before {
  display: inline-block;
}

.catalog-filter-radio__input:disabled + .catalog-filter-radio__label {
  color: var(--filter-disabled);
}

.catalog-filter-radio__input:disabled + .catalog-filter-radio__label:after {
  border-color: var(--filter-disabled);
}

.catalog-filter-radio__input:disabled + .catalog-filter-radio__label:before {
  background-color: var(--filter-disabled);
}

.catalog-filter-radio__label {
  padding-left: 33px;
  position: relative;
  cursor: pointer;
  margin-right: 18px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.catalog-filter-radio__label:hover:after {
  border-color: var(--basic-white);
}

.catalog-filter-radio__label:hover:before {
  background-color: var(--basic-white);
}

.catalog-filter-radio__label:last-child {
  margin-right: 0;
}

.catalog-filter-radio__label:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 2px solid var(--opacity-gray);
}

.catalog-filter-radio__label:before {
  content: "";
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  top: 7px;
  left: 7px;
  background: var(--opacity-gray);
}

.filter-checkbox {
  border-radius: 20px;
  background: var(--light-gray);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  min-height: 36px;
  padding: 0px 17px 0px 14px;
}

.filter-checkbox__input {
  display: none;
}

.filter-checkbox__input:checked + .filter-checkbox__label::after {
  background: url("../img/checkbox-checked.svg") no-repeat;
}

.filter-checkbox__input:disabled + .filter-checkbox__label {
  color: var(--filter-hover);
}

.filter-checkbox__input:disabled + .filter-checkbox__label:after {
  filter: opacity(0.4);
}

.filter-checkbox__label {
  padding-left: 35px;
  position: relative;
  cursor: pointer;
  margin-right: 19px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.filter-checkbox__label:hover {
  color: var(--basic-white);
}

.filter-checkbox__label:hover::after {
  filter: opacity(1);
}

.filter-checkbox__label:last-child {
  margin-right: 0;
}

.filter-checkbox__label:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 24px;
  height: 20px;
  background: url("../img/checkbox.svg") no-repeat;
  background-size: 21px 20px;
  filter: opacity(0.8);
}

.item-price {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 7px;
  width: 218px;
}

.item-price .filter__heading {
  margin-bottom: 0;
}

.item-price__label {
  position: relative;
  display: inline-block;
  height: 16px;
  margin: 0;
  padding: 0;
}

.item-price__label:after {
  position: absolute;
  z-index: 5;
  color: var(--basic-white);
  display: block;
  top: 0;
  right: 0;
  content: " ₽";
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.item-price__label--min {
  margin-right: 16px;
}

.item-price__input {
  height: 100%;
  display: inline-block;
  text-align: right;
  margin: 0;
  padding: 0;
  background: transparent;
  border: 0;
  outline: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-white);
  width: 45px;
  padding-right: 12px;
}

.item-price__input::-webkit-inner-spin-button, .item-price__input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.item-price__label--max:before {
  content: "-";
  position: absolute;
  left: -8px;
  display: inline-block;
}

#slider {
  padding: 0 22px;
  width: 218px;
  height: 36px;
  border-radius: 20px;
  border: none;
  outline: none;
  box-shadow: none;
  background: var(--light-gray);
  margin: 0;
  flex: 1 1 100%;
}

.noUi-base {
  height: 2px;
  top: 50%;
  transform: translateY(-50%);
}

.noUi-connects {
  background: var(--slider-line);
  height: 2px;
}

.noUi-connect {
  height: 2px;
  background: var(--slider-conect-line);
}

.noUi-horizontal .noUi-handle {
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  right: -8px;
  top: -9px;
  box-shadow: var(--slider-dot-shadow);
}

.noUi-horizontal .noUi-handle:before, .noUi-horizontal .noUi-handle::after {
  display: none;
}

.noUi-horizontal .noUi-handle:after {
  content: "";
  position: absolute;
  top: 7px;
  left: 7px;
  border-radius: 50%;
  display: inline-block;
  width: 4px;
  height: 4px;
  background: var(--slider-toggle-dot);
}

.noUi-horizontal .noUi-handle:focus {
  outline: none;
}
