@charset "UTF-8";
/* Variables */
:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --submenu-hover: #fbded7;
  --submenu-active: #f6b5a5;
  --submenu-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  --form-background: #f8f7f4;
  --basic-gray: rgba(50, 50, 50, 0.2);
  --light-gray: rgba(255, 255, 255, 0.2);
  --input-border-color: #d3d3d2;
  --placeholder-color: #999999;
  --header-link-active-bgc: #ededed;
  --header-link--active: #d07058;
  --header-link-active-shadow: inset 0px 2px 1px #696969;
  --special-slide-1: #849d8f;
  --special-slide-2: #8996a6;
  --special-slide-3: #9d8b84;
  --btn-text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  --btn-gradient: linear-gradient(180deg, #f26843 0%, #e74a35 100%);
  --btn-gradient-hover: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
    linear-gradient(180deg, #f26843 0%, #e74a35 100%);
  --btn-gradient-active: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)),
    linear-gradient(180deg, #f26843 0%, #e74a35 100%);
  --btn-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  --btn-shadow-active: inset 0px 2px 2px #942718;
  --text-link-hover: #ffbc9e;
  --text-link-black: #323232;
  --text-link-black-hover: #e84d37;
  --text-link-black-decor-hover: rgba(232, 77, 55, 0.3);
  --vaffle-color: #efe3cd;
}

/* шрифты */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), url("../fonts/roboto.woff2") format("woff2"), url("../fonts/roboto.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto medium"), url("../fonts/robotomedium.woff2") format("woff2"), url("../fonts/robotomedium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  src: local("Roboto bold"), url("../fonts/robotobold.woff2") format("woff2"), url("../fonts/robotobold.woff") format("woff");
  font-display: swap;
}

/* global */
body {
  min-width: 1200px;
  margin: 0 auto;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-white);
  background-color: var(--special-slide-1);
}

img {
  max-width: 100%;
  height: auto;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1200px;
  padding: 0 27px;
  margin: 0 auto;
  height: 100%;
}

/* ui */
.main-input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  height: 44px;
  border: 1px solid var(--input-border-color);
  padding-left: 15px;
  color: var(--placeholder-color);
}

.main-input::-webkit-input-placeholder {
  color: var(--placeholder-color);
}

.main-input:-ms-input-placeholder {
  color: var(--placeholder-color);
}

.main-input::-ms-input-placeholder {
  color: var(--placeholder-color);
}

.main-input::placeholder {
  color: var(--placeholder-color);
}

.main-btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 0;
  outline: 0;
  background-image: var(--btn-gradient);
  text-decoration: none;
  color: var(--basic-white);
  font-weight: bold;
  -webkit-box-shadow: var(--btn-shadow);
          box-shadow: var(--btn-shadow);
  text-shadow: var(--btn-text-shadow);
}

.main-btn:hover {
  background-image: var(--btn-gradient-hover);
}

.main-btn:active {
  -webkit-box-shadow: var(--btn-shadow-active);
          box-shadow: var(--btn-shadow-active);
  background-image: var(--btn-gradient-active);
}

.text-link {
  font-weight: 400;
  color: var(--basic-white);
  -webkit-text-decoration-color: var(--light-gray);
          text-decoration-color: var(--light-gray);
}

.text-link:hover, .text-link:active {
  color: var(--text-link-hover);
  -webkit-text-decoration-color: var(--text-link-hover);
          text-decoration-color: var(--text-link-hover);
}

.text-link--black {
  color: var(--text-link-black);
  -webkit-text-decoration-color: rgba(50, 50, 50, 0.3);
          text-decoration-color: rgba(50, 50, 50, 0.3);
}

.text-link--black:hover, .text-link--black:active {
  color: var(--text-link-black-hover);
  -webkit-text-decoration-color: var(--text-link-black-decor-hover);
          text-decoration-color: var(--text-link-black-decor-hover);
}

.visually-hidden {
  display: none;
}

/* header */
.header {
  background-color: transparent;
  color: var(--basic-white);
}

.header ul {
  list-style: none;
}

.header__nav {
  padding-top: 9px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin-right: 24px;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0;
  padding: 0;
}

.header__menu-list {
  margin-right: 32px;
  position: relative;
}

.header__menu-list:last-child {
  margin: 0;
}

.header__menu-list::before {
  content: "";
  bottom: -5px;
  position: absolute;
  left: 0;
  right: 0;
  height: 10px;
}

.header__link {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  height: 32px;
  fill: var(--basic-white);
  color: var(--basic-white);
  display: block;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 26px;
}

.header__link::after {
  width: 100%;
  display: block;
  height: 1px;
  content: "";
  background-color: rgba(255, 255, 255, 0.3);
}

.header__link:active {
  background: var(--header-link-active-bgc);
  -webkit-box-shadow: var(--header-link-active-shadow);
          box-shadow: var(--header-link-active-shadow);
}

.header__link--active {
  fill: var(--basic-white);
  color: var(--basic-white);
  background-color: var(--header-link--active);
}

.header__link--active:after {
  display: none;
}

.header__submenu {
  display: none;
  position: absolute;
  top: 37px;
  left: 0;
  color: var(--basic-black);
  background-color: var(--basic-white);
  -webkit-box-shadow: var(--submenu-shadow);
          box-shadow: var(--submenu-shadow);
  padding: 0;
  margin: 0;
  border-radius: 4px;
  box-shadow: var(--submenu-shadow);
  padding: 9px 0 14px 0;
}

.header__menu > .header__menu-list:hover .header__link:not(.header__link--active),
.header-actions > .header-actions__list:hover .header-actions__link {
  fill: var(--basic-black);
  color: var(--basic-black);
  text-decoration: none;
  background-color: var(--basic-white);
  border: 0;
}

.header__menu > .header__menu-list:hover .header__submenu {
  display: block;
  z-index: 10;
}

.header-actions > .header-actions__list:hover .header__submenu {
  display: block;
  z-index: 10;
}

.submenu-catalog {
  min-width: 143px;
  padding: 7px 0 6px 0;
}

.submenu-catalog__list {
  padding: 0 21px 0 20px;
}

.submenu-catalog__list:hover {
  background: var(--submenu-hover);
}

.submenu-catalog__list:active {
  background: var(--submenu-active);
}

.submenu-catalog__list--current {
  background: var(--header-link--active);
  color: var(--basic-white);
}

.submenu-catalog__list--title {
  padding: 0px 9px;
  margin-bottom: 11px;
}

.submenu-catalog__list--title:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: var(--basic-gray);
  position: relative;
}

.submenu-catalog__head-text {
  text-decoration: none;
  color: var(--basic-black);
  font-weight: bold;
  line-height: 38px;
  margin-left: 11px;
}

.submenu-catalog__link {
  line-height: 22px;
  text-decoration: none;
  color: var(--basic-black);
  line-height: 27px;
}

.submenu-catalog__link:hover {
  background-color: var(--submenu-hover);
}

.submenu-catalog__link:active {
  background-color: var(--submenu-active);
}

.header-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
}

.header-actions__list {
  position: relative;
  margin-right: 10px;
}

.header-actions__list:last-child {
  margin-right: 0;
}

.header-actions__list::before {
  content: "";
  bottom: -5px;
  position: absolute;
  left: 0;
  right: 0;
  height: 10px;
}

.header-actions__link {
  cursor: pointer;
  background-color: var(--light-gray);
  text-decoration: none;
  border: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-actions__link::after {
  display: none;
}

.header-actions__link:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.header-actions__link--search {
  padding: 0;
  height: 32px;
  width: 32px;
}

.search-form {
  background-color: var(--form-background);
  width: 341px;
  height: 84px;
  padding: 20px 15px;
}

.search-form__input {
  width: 100%;
}

.header-actions__link--login svg {
  margin-right: 8px;
}

.login-form {
  left: 0;
  background-color: var(--form-background);
  padding: 20px 17px 22px 19px;
  width: 277px;
}

.login-form__input--email {
  margin-bottom: 20px;
}

.header__contact {
  text-align: right;
}

.header__contact-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  margin: 0 0 8px;
}

.header__contact-tel {
  color: var(--basic-white);
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
}

.promo {
  position: relative;
  z-index: 1;
}

.slider-wrapper {
  height: 584px;
  position: relative;
  top: -24px;
  z-index: -1;
}

.slider {
  display: inline-block;
  padding: 0;
  margin: 0 auto;
  width: 716px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.slider-item {
  position: absolute;
  height: 716px;
}

.slider-item__images {
  width: 100%;
  height: 100%;
  position: absolute;
}

.slider-item__img-left {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}

.slider-item__img-right {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.slider-item__title {
  text-align: center;
  display: inline-block;
  max-width: 670px;
  font-weight: bold;
  font-size: 60px;
  line-height: 60px;
  margin: 0;
  position: relative;
  z-index: 3;
  margin-top: 315px;
  margin-bottom: 27px;
}

.slider-item__btn {
  width: 278px;
  height: 63px;
  border-radius: 70px;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  margin: 0 auto;
  position: relative;
  z-index: 3;
}

.slider__dots {
  position: absolute;
  bottom: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider__dots li {
  margin-right: 8px;
}

.slider__dots li:last-child {
  margin-right: 0;
}

.slider__dot {
  margin: 0;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border-radius: 50%;
  font-size: 0;
  display: inline-block;
  border: 2px solid var(--basic-white);
  outline: 0;
  width: 21px;
  height: 21px;
}

.slider__dot--current {
  background-color: var(--basic-white);
}

.promotion__banners {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 26px;
}

.banners-item {
  border-radius: 16px;
  overflow: hidden;
  width: 560px;
  height: 229px;
  color: var(--basic-white);
  padding: 16px 22px 22px 16px;
}

.banners-item--rasberry {
  background: var(--basic-black) url("img/rasberry-bg.jpg") center no-repeat;
  background-size: cover;
}

.banners-item--chocolate {
  background: var(--basic-black) url("../img/chocolate-bg.jpg") center no-repeat;
  background-size: cover;
}

.banners-item__title {
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
  margin: 0 0 16px;
}

.banners-item__text {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  margin: 0 0 42px;
}

.banners-item__btn {
  width: 164px;
  height: 48px;
  border-radius: 70px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  margin-left: auto;
}

.news__banners {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 26px;
}

.news__banners-item {
  border-radius: 16px;
  overflow: hidden;
  width: 560px;
  height: 229px;
  padding: 16px 22px 22px 16px;
  background: var(--basic-white);
  color: var(--basic-black);
}

.blog-banner {
  background: var(--basic-white) url("../img/strawberry-bg.png") center no-repeat;
  background-size: cover;
}

.blog-banner__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: var(--text-link-black);
  margin: 0 0 12px;
}

.blog-banner__blog-link {
  display: inline-block;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  max-width: 287px;
  color: var(--text-link-black);
  margin: 0;
}

.contacts-popup__close {
  display: inline-block;
  position: relative;
  width: 18px;
  height: 18px;
  background: transparent;
  overflow: hidden;
}

.contacts-popup__close:after {
  -webkit-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
  position: absolute;
  left: -3px;
  bottom: 8px;
  content: "";
  width: 24px;
  height: 2px;
  background-color: var(--basic-black);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.contacts-popup__close:before {
  -webkit-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
  position: absolute;
  left: -3px;
  bottom: 8px;
  content: "";
  width: 24px;
  height: 2px;
  background-color: var(--basic-black);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.contacts-popup__close:hover::after {
  -webkit-transform: scale(0.8) rotate(315deg);
          transform: scale(0.8) rotate(315deg);
}

.contacts-popup__close:hover::before {
  -webkit-transform: scale(0.8) rotate(405deg);
          transform: scale(0.8) rotate(405deg);
}

.catalog-pagination {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog-pagination li {
  margin-right: 6px;
}

.catalog-pagination li:last-child {
  margin-right: 0;
}

.catalog-pagination__link {
  cursor: default;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 26px;
  height: 26px;
  border-radius: 50%;
}

.catalog-pagination__link:hover:not(.catalog-pagination__link--not-active):not(.catalog-pagination__link--active) {
  background: var(--light-gray);
  cursor: pointer;
}

.catalog-pagination__link:active:not(.catalog-pagination__link--not-active):not(.catalog-pagination__link--active) {
  background: var(--basic-white);
  color: var(--basic-black);
  fill: var(--basic-black);
}

.catalog-pagination__arrow {
  fill: var(--basic-white);
  font-size: 0;
}

.catalog-pagination__arrow--prev {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.catalog-pagination__link--active {
  background: var(--basic-white);
  color: var(--basic-black);
}

.catalog-pagination__link--not-active {
  fill: var(--light-gray);
}

.feautures__container {
  background: var(--vaffle-color) url("../img/vafflepattern.jpg");
  color: var(--basic-black);
  padding: 24px 23px 36px 20px;
  border-radius: 16px;
  overflow: hidden;
}

.feautures__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
}

.feautures-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.feautures-list__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

.useful-links {
  list-style: none;
}

.useful-links__link {
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  padding-left: 22px;
}

.useful-links__link--heart {
  font-weight: bold;
  background: url("../img/heart.svg") center left no-repeat;
}
